pyrogram
TgCrypto
python-dotenv
pyvirtualdisplay
requests
asyncio
setuptools-scm
selenium-stealth
yt-dlp
PyDrive
google-api-python-client
oauth2client
httplib2==0.15.0
webdriver-manager
playwright
playwright-stealth
