name: Bot Automation Workflows

on:
  repository_dispatch:
    types: [new_url_received, refresh_token_received]

jobs:
  # --- JOB 1: Update Token Variable (Opsional, untuk Sync) ---
  store_refresh_token:
    if: github.event.action == 'refresh_token_received'
    runs-on: ubuntu-latest
    steps:
      - name: Update GitHub Variable
        run: |
          USER_ID="${{ github.event.client_payload.sender_chat_id }}"
          TOKEN="${{ github.event.client_payload.refresh_token }}"
          gh variable set "DRIVE_REFRESH_TOKEN_USER_$USER_ID" --body "$TOKEN" --repo ${{ github.repository }}
        env:
          GH_TOKEN: ${{ vars.GH_PAT }}

  # --- JOB 2: Download and Release ---
  download-and-release:
    if: github.event.action == 'new_url_received'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      PAYLOAD_URL: ${{ github.event.client_payload.url }}
      PAYLOAD_SENDER: ${{ github.event.client_payload.sender }}
      PAYLOAD_MODE: ${{ github.event.client_payload.mode }}
      BOT_TOKEN: ${{ vars.BOT_TOKEN }}
      GOOGLE_CLIENT_ID: ${{ vars.CLIENT_ID }}
      GOOGLE_CLIENT_SECRET: ${{ vars.CLIENT_SECRET }}
      # Ambil token yang dikirim langsung oleh GAS
      DRIVE_REFRESH_TOKEN: ${{ github.event.client_payload.refresh_token }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install -r requirements.txt
          echo ".venv/bin" >> $GITHUB_PATH

      - name: Run Downloader Script
        run: python main.py
        env:
          OWNER_ID: ${{ env.PAYLOAD_SENDER }}
          MEDIAFIRE_PAGE_URL: ${{ env.PAYLOAD_URL }}
          DRIVE_REFRESH_TOKEN: ${{ env.DRIVE_REFRESH_TOKEN }}

      - name: Upload to Telegram
        if: env.PAYLOAD_MODE == 'telegram'
        run: python telegram_upload.py
        env:
          OWNER_ID: ${{ env.PAYLOAD_SENDER }}

      - name: Upload to Google Drive
        if: env.PAYLOAD_MODE == 'gdrive'
        run: python upload.py
        env:
          DRIVE_REFRESH_TOKEN: ${{ env.DRIVE_REFRESH_TOKEN }}
